:root {
  /* Colors */
  --bg-color: white;
  --dark-color: #373737;
  --theme-color: #B5EAD5;
  --nav-color: #F1F7ED;
  --accent-color: #FF934F;
  
  /* Fonts */
  --header-font: "PT Serif", serif;
  --body-font: "Raleway", sans-serif;
  
  /* Appearance */
  --border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* HTML Tags */

h1, h2 {
  font-family: var(--header-font);
  color: var(--dark-color);
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-family: var(--body-font);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-color);
  padding-bottom: 10px;
  text-align: center;
}

p, label {
  font-family: var(--body-font);
  color: var(--dark-color);
}

a {
  color: var(--accent-color);
}

img {
  padding: 6px 16px;
  object-fit: contain;
}

li {
  text-align: left;
}

.content {
  margin: 30px 60px;
}

.row {
  margin: 0px 0px;
  text-align: center;
}

/* Bootstrap Class Styling */

.goal-container {
  margin: 0 5%;
}

/* Nav Bar */
.navbar-bonsai {
  background-color: var(--nav-color);
}

.nav-item {
  text-align: center;
  font-family: var(--body-font);
  font-size: 20px;
  margin-right: 40px;
}

/* Button */
.btn-default {
  border-width: thin;
  border-color: var(--dark-color);
  border-radius: var(--border-radius);
  
  background-color: white;
  color: var(--text-color);
  font-family: var(--body-font);
  
  padding: 12px 24px;
}

.btn-default:hover:enabled {
  background-color: var(--dark-color);
  color: var(--bg-color);
  cursor: pointer;
}

.btn-default:disabled {
  border-color: gray;
  color: gray;
  background-color: white;
}

.btn-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
  padding: 0.44em 0.6em;
  margin-bottom: 7px;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-circle:hover:enabled {
  background-color: var(--accent-color);
  color: var(--bg-color);
  cursor: pointer;
}

.btn-goal-delete {
  background-color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1px;
  right: 16px;
}

/* Panel */
.panel {
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  
  padding: 40px 20px 30px;
  margin-bottom: 30px;
  text-align: center;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;
  padding-bottom: 50px;
}

/*Dropdown*/
.dropdown-menu {
   max-height:240px;
   overflow:auto;
}

/*Dropdown caret*/
.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid #fff;
}