h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

li {
    font-family: var(--body-font);
    color: var(--dark-color);
}

.panel-image {
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  
  height: 350px;
  width: 350px;
  margin: 20px;
}

.bullet-center {
    margin: 0 auto;
    width: 350px;
}